
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInbox</h1>

<h1>Check Your Inbox</h1>
<div class="main-agileinfo">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="agileits-top">
        <div>
            <p>Password Reset Link has been send to your email, Please Check your inbox :)</p>
        </div>
    </div>
</div>